{% extends 'base.html.twig' %}

{% block title %} Vocabulaires{% endblock %}

{% block body %}
    <div class="center-block col-md-8" style="float:none">
        <h1> Vocabulaire </h1>
        <div class=" labelform-group-lg">
            {{ form_start(formAjout)}} 
            <div class="form-group">
                {{ form_widget(formAjout.motFR,{"value":""})}}
                {{ form_widget(formAjout.motEN,{"value":""}) }}
                {{ form_widget(formAjout.categorie) }}
                <button name="form[ajout]" class="btn btn-success ">Ajouter</button>
            </div>
            {{ form_end(formAjout) }}
        </div>         
        {{ form_start(formSupp)}}
        <table class="table table-striped table-bordered" id="listeVoc">
            <tr>
                <th>Français</th>
                <th>Anglais</th>
                <th>Catégorie</th>
                <th class="col-lg-1" style="text-align: center">Modifier</th>
                <th class="col-lg-1" style="text-align: center"><input type="checkbox" value='0' name="cocher[]" onClick="checkAll(this)"/></th>
            </tr>
            {% for key,value in listeVocabulaire %}
                <tr>
                    <td>{{ value.motFR }}</td>
                    <td>{{ value.motEN }}</td>
                    <td>{{ value.categorie.libelle }}</td>
                    <td style="text-align: center"><a href="{{ path('vocabulaire_modifier',{'id':value.id})}}"><span class="btn btn-warning glyphicon glyphicon-cog"></span></a></td>     
                    <td style="text-align: center"><input type="checkbox" name="cocher[]" class="cocher" value="{{ value.id }}"/></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button name="form[supp]" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
            </tr>
        </table>
        {{ form_end(formSupp) }}
    </div>
{% endblock %}
