{% extends 'base.html.twig' %}

{% block title %}Modifier le vocabulaire{% endblock %}

{% block body %}
    <div class="center-block col-md-8" style="float:none">
        <h1> Vocabulaire </h1>
        <div class=" labelform-group-lg">
            {{ form_start(form)}} 
            <div class="form-group">
                {{ form_widget(form.motFR)}}
                {{ form_widget(form.motEN)}}
                {{ form_widget(form.categorie)}}
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
