{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="center-block col-md-8" style="float:none">
        <h1> Listes de mots </h1>
        <div class=" labelform-group-lg">
            {{ form_start(formAjout)}}
            <div class="form-group col-md-6">      
                <div class="input-group">
                    <span class="input-group-addon">Thème</span>
                        {{ form_widget(formAjout.theme) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Niveau de difficulté</span>
                        {{ form_widget(formAjout.niveau) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Mots</span>
                    {{ form_widget(formAjout.vocabulaire)}}
                    <span class="input-group-btn"><a class="btn  btn-info" onclick="ajoutMot(document.getElementById('form_vocabulaire'))"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <div id="nouveauxMots" class="input-group"></div>
                <div class="input-group">  
                    <button name="form[ajout]" class="btn btn-success ">Créer nouvelle liste</button>       
                </div>
            </div>
            {{ form_end(formAjout) }}
        </div>        
        {{ form_start(formSupp)}}
        <table class="table table-striped table-bordered" id="liste">
            <tr>
                <th>ID</th>
                <th>Difficulté</th>
                <th>Nombre de mots</th>
                <th>Thème</th>
                <th class="col-lg-1" style="text-align: center">Modifier</th>
                <th class="col-lg-1" style="text-align: center"><input type="checkbox" value='0' name="cocher[]" onClick="checkAll(this)"/></th>
            </tr>
            {% for key,value in listeDeslistesMots %}
                <tr>
                    <td>{{ value.id}}</td>
                    <td>{{ value.niveau}}</td>
                    <td>{{ value.vocabulaire|length}} <a style="float: right;" href="#" onClick="showVoc({{key}}, this);"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td>{{ value.theme.libelle}}</td>
                    <td style="text-align: center"><span class="btn btn-warning glyphicon glyphicon-cog" ></span></td>     
                    <td style="text-align: center"><input type="checkbox" name="cocher[]" class="cocher" value="{{ value.id }}"/></td>

                </tr>
                <tr id="voc_{{key}}" style="display: none;">
                    <td colspan="2"></td>
                    <td colspan="3">
                        <ul class="list-unstyled">
                            {% for mot in value.vocabulaire%}
                                <li>{{mot.motFR}} - <i>{{mot.motEN}}</i></li>
                                {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button name="form[supp]" class="btn btn-danger glyphicon glyphicon-trash"></button></td>

            </tr>
        </table>
        {{ form_end(formSupp)}}
    {% endblock %}
