{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <div class="center-block col-md-8" style="float:none">
        <h1> Entreprise </h1>
        <div class=" labelform-group-lg">
            {{ form_start(formAjout)}} 
            <div class="form-group">
                {{ form_widget(formAjout.denomination,{'value' : ''})}}
                {{ form_widget(formAjout.telephone,{'value' : ''})}}
                <button name="form[ajout]" class="btn btn-success ">Ajouter</button>       

            </div>
            {{ form_end(formAjout) }}
        </div>
        {{ form_start(formSupp)}} 
        <table class="table table-striped table-bordered" id="liste">
            <tr >
                <th>Dénomination</th>
                <th>Téléphone</th>
                <th class="col-lg-1" style="text-align: center">Modifier</th>
                <th class="col-lg-1" style="text-align: center"><input type="checkbox" value='0' name="cocher[]" onClick="checkAll(this)"/></th>
            </tr>
            {% for key,value in listeEntreprises %}
                <tr>
                    <td>{{ value.denomination }}</td>
                    <td>{{ value.telephone }}</td>
                    <td style="text-align: center"><a href="{{ path('entreprise_modifier',{'id':value.id})}}"><span class="btn btn-warning glyphicon glyphicon-cog" ></span></a></td>     
                    <td style="text-align: center"><input type="checkbox" name="cocher[]" class="cocher" value="{{ value.id }}"/></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button name="form[supp]" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
            </tr>
        </table>
        {{ form_end(formSupp) }}
    </div>
{% endblock %}
