{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Inscription {% endblock %}
{% block body %}    

    <div class="center-block col-sm-7 col" style="float:none">
        <h1> Nouvel utilisateur </h1>
        
        <div class=" form-group-lg center-block">
            {{ form_start(form)}}
            <div class="form-group col-sm-12 center-block">      
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ form_widget(form.email) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.password) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                        {{ form_widget(form.nom) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
                        {{ form_widget(form.prenom) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    {{ form_widget(form.dateNaissance)}}
                    <span class="input-group-btn"><button name="form[inscrire]" class="btn btn-lg btn-success ">S'inscrire</button></span>
                </div>
               
            </div>
            {{ form_end(form) }}
        </div> 
    {% endblock %}    