<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title> {% block title %} Innov Anglais {% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet">        
        <script src="{{asset('js/script.js')}}"></script> 
        {% block style %} {% endblock %}
    </head>         

    <body class="bg-light">
        <nav class="navbar navbar-inverse navbar-default navbarnavbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="{{asset('images/logo.png')}}" class="img-circle" style="width: 100px;"/>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('accueil') }}">Accueil</a></li>                        
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('inscrire') }}">S'inscrire</a></li>
                            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                            {% else %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-item" href="{{ path('entreprise') }}">Entreprise</a></li>
                                <li><a class="dropdown-item" href="{{ path('abonnement') }}">Abonnement</a></li>
                                <li><a class="dropdown-item" href="{{ path('categorie') }}">Categorie</a></li>
                                <li><a class="dropdown-item" href="{{ path('vocabulaire') }}">Vocabulaire</a></li>
                                <li><a class="dropdown-item" href="{{ path('liste_mots') }}">Liste de Mots</a></li>
                                <li><a class="dropdown-item" href="{{ path('theme') }}">Themes</a></li>
                                {% endif %}                                                        
                            <li><a class="dropdown-item" href="{{ path('test') }}">Test</a></li>
                            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        
            <div class="center-block col-md-10" style="float:none">   

                {% block body %}

                {% endblock %} 


            </div>
          

        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{asset('js/jquery-3.2.1.min.js')}}"><\/script>')</script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
    </body>
</html>