{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="center-block col-md-8" style="float:none">
        <h1> Catégorie </h1>
        <div class=" labelform-group-lg">
            {{ form_start(form)}} 
            <div class="form-group">
                {{ form_widget(form.libelle,{'class': 'form-control'})}}
                {{ form_widget(form.save,{'class': 'btn btn-success'}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
